@model GuestBookApp.Models.Post

    <table class="table table-bordered">
      <th colspan="2">@Model.User.Name</th>
      <tr>
        <td colspan="2">@Model.User.Email</td>
      </tr>
      <tr>
        <td width="20%">@Model.DateTime</td>
        <td style="word-wrap: break-word;" width="80%">@Model.Message</td>
      </tr>
    </table>
