@* @model GuestBookApp.Models.Post *@

    <table class="table table-bordered">
      <th colspan="2">Header</th>
      <tr>
        <td colspan="2">Email</td>
      </tr>
      <tr>
        <td width="20%">date</td>
        <td style="word-wrap: break-word;" width="80%">Long Message</td>
      </tr>
    </table>
