@model IEnumerable<GuestBookApp.Models.Post>

@{
    ViewBag.Title = "GuestBook Entries";
    Layout = "_Layout";
}


<div class="col-12 text-center pb-3 pt-2">
    <h2 class="text-black-50">Guest Book Entries</h2>
</div>

@if (Model.Count() > 0)
{
    @foreach (var post in Model)
    {
        await Html.RenderPartialAsync("_SinglePost", post);
    }
}
else
{
    <h2 class="text-danger text-center">No posts here :(</h2>
}